.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;            /* ❌ แก้ตรงนี้ ลบ padding 80px ออก */
  display: flex;         /* ใช้ flex แทน grid */
  justify-content: flex-start; /* ถ้าอยากให้อยู่ซ้าย */
  align-items: flex-start;     /* ถ้าอยากให้อยู่บน */
  overflow: hidden;      /* กัน scroll */
  font-family: Nomark;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  width: 100%;
  max-width: 1920px;
  aspect-ratio: 16 / 9;
  display: flex;
  justify-content: space-between; /* Text ซ้าย รูปขวา */
  align-items: center;
  padding: clamp(1rem, 2vw, 3rem);
  box-sizing: border-box;
}

.title {
  font-size: clamp(3rem, 15vw, 22rem);
  font-weight: 500;
  color: #436fff; /* สีม่วงน้ำเงินตามภาพ */
  line-height: 1; /* ปรับเพื่อลดช่องว่างระหว่างบรรทัด */
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  margin: 0;
}

.subtitle {
  font-size: 3rem;
  font-weight: 400;
  color: #797676; /* สีเทาอ่อน */
  line-height: 1.5;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  margin: 0;
}

.colorY {
  color: #436fff; /* สีเหลือง */
}
.colorOJ {
  color: #ff0000; /* สีส้ม */
}
.colorI {
  color: #436fff; /* สีแดงอมส้ม */
}

.ctas {
  position: absolute;
  top: 88%;  
  left: 22%;
  transform: translate(-50%, -50%);
  
}
.img {
  display: flex;
  justify-content: flex-start; /* เปลี่ยนเป็น center / end ได้ตามใจ */
  align-items: center;
  gap: clamp(1rem, 2vw, 2.5rem);
  margin-top: clamp(1rem, 2vw, 3rem);
  
}





@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}


.textContainer {
  position: fixed;
  top: 45%;
  left: 35%; 
  transform: translate(-50%, -50%); 
  z-index: 100; 
}

.php1 {
  position: absolute;      
  bottom: 0px;            
  left: 100%;             
  transform: translateX(40%);
  z-index: 50;
  opacity: 0.5;
  width: 300px;             
  height: auto;  
}



.fullpageContainer {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.section {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
}
